table {
    border-collapse: collapse;
    margin: auto;
    break-inside: avoid-page;
}
table tr {
	text-align: center;
	padding-left:10px;
}
table td {
	padding:5px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	background: #fafafa;
}